* {
 border: 1px solid blue; 
 margin:0;
 padding:0; 
}

/* ? CUSTOM VARIABLES */

:root {
--dark-background: black;  
--spanWord-color: #ff0000;
--light-text: white; 
--dark-red1: #5A0000; 
--dark-red2: #7c0000; 
--light-red1:  #e30202; 
--light-red2: #b70101; 
--h2-color: #e20000;
--dark-red3: #3D0000; 
--nav-bar-color: #1C1C1C ;
--context-background: #141414  ; 
}

/* ? CUSTOM VARIABLES */

html{
    margin:0;
    padding:0;
    background-color: var(--dark-background);

}

#canvas{
    margin:0 auto;
    display:block;
    position: fixed;
    z-index: -1;
}

svg{
  display:none;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bolder;
  color: var(--light-text);
  text-align: center;
}

.word-anime {
  color: var(--spanWord-color);
}

.CV {
  background-color: var(--light-red2);
  border: solid 5px var(--light-red1);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; 
}

.CV:hover {
  transform: scale(1.1);
}

.CV a {
  color: var(--light-text);
  text-decoration: none;
  text-align: center;
  border-radius: 50px; 
}

nav {
  background-color: var(--nav-bar-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 5px; /* When scrolled to this point, the nav will stick */
  z-index: 100; /* Ensure it stays on top */
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: var(--light-text);
  text-decoration: none;
  background-color: var(--light-red2);
  border: 3px solid var(--light-red1);
  border-radius: 25px;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  }

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#About {
  scroll-margin-top: 140px;
  margin: 85px 0px 100px 0px;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO background opacity + Z-INDEX */
  /* ! SEMPRE AQUESTES PROPIETATS */
  position: relative;
  /* ! SEMPRE AQUESTES PROPIETATS */
}

/* TODO background opacity + Z-INDEX */

#About::before {
  content: "";
  /* ! SEMPRE AQUESTES PROPIETATS */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* ! SEMPRE AQUESTES PROPIETATS */
  background-color: var(--context-background);
  border-radius: 10px;
  opacity: 0.985;
  z-index: 1; 
}

#About article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; 
  z-index: 2; 
}

h2 {
  color: var(--h2-color); 
  font-weight: bolder;
  position: relative;
  display: inline-block;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.border-container {
  position: relative; 
  border: 6px solid var(--dark-red1); 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-9deg); 
  border-radius: 15%; 
  overflow: hidden; 
}


.photo {
  display: block;
  transform: rotate(10deg);
  width: 125%;
  height: auto;
  position: relative;
  top: 15px;
  right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 15px; 
}

.info-text {
  background-color: var(--dark-red3);
  border: 3px solid var(--dark-red2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text p {
  color: var(--light-text); 
  height: auto;
  text-align: justify;
}


.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Skills {
  scroll-margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px 0px;
  width: 90vw;
  height: auto;
}

#Skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--context-background);
  border-radius: 10px;
  opacity: 0.97;
  z-index: 1; 
}

#Skills article {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; 
  width: 90%;
  height: auto;
  margin: 50px 30px;
}

#Skills h2::after {
  content: "";
  position: absolute;
  left: 22px; 
  top: 23px;
  width: 115px;
  height: 12px; 
  background-color: var(--light-red1); 
  opacity: 0.3;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  width: 90%; 
  height: auto;
  gap: 50px 100px; 
  padding: 30px;
  margin: 25px 0px;
}

.javascript, .html, 
.css, .react, .node,
.express, .mongodb, .git {
  background-color: var(--dark-red2); 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  width: auto;
  height: 225px;
  padding: 10px 20px 15px;
}

.javascript::before, .html::before, 
.css::before, .react::before, .node::before,
.express::before, .mongodb::before, .git::before{
  content:""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  z-index: 3; 
  pointer-events: none; 
}

.javascript:hover::before, .html:hover::before, 
.css:hover::before, .react:hover::before, .node:hover::before,
.express:hover::before, .mongodb:hover::before, .git:hover::before {
  opacity: 0; 
}

.card-opacity {
  height: 100%;
  width: 100%;
  padding: 30px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 20px;
  z-index: 2;
}

.card-opacity::before {
 content: "";
 position: absolute;
 bottom: 0; 
 left: 0;
 width: 96%;
 height: 91%;
 background-color: lightgrey;
 border: 4px solid gray; 
 border-radius: 20px 20px 8.5px 8.5px;
 z-index: -1;
 opacity: 0.3;
}

.cards img {
  width: 95px;
  height: auto;
}

.react img {
  height: 95px;
  width: 100px; 
}

.cards p,
.cards h3 {
  color: var(--light-text);
  text-align: center;
}

.cards h3 {
  position: relative;
  bottom: 3px;
}

#Projects {
  scroll-margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px 0px;
  width: 90vw;
  height: auto;
}

#Projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--context-background);
  border-radius: 10px;
  opacity: 0.97;
  z-index: 1; 
}

#Projects article {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; 
  width: 90%;
  height: auto;
  margin: 50px 30px;
}

#Projects h2::after {
  content: "";
  position: absolute;
  left: 23px; 
  top: 23px;
  width: 165px;
  height: 12px; 
  background-color: var(--light-red1); 
  opacity: 0.3;
}

.project-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*TODO border color transparent per no veure el grow quan fas hover, "l'amages per despres veure'l"*/
.project-nav li {
color: var(--light-text); 
border: 3px solid transparent;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

/*TODO  class .active ve donat per Javascript. NO HTML! */
.project-nav li:hover,
.project-nav li.active {
  background-color: var(--light-red2);
  border-color: var(--light-red1);
  border-radius: 15px;
  }

  .project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px, 0.25fr));
  justify-content: center;
  align-items: center;
}

/*TODO  IMPORTANT position: relative PER FICAR CONTINGUT A SOBRE DEL MATEIX */
.project-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TODO div class="hover-description" creat per JS */
.hover-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(236, 236, 236); 
  display: none; 
  justify-content: space-evenly; 
  align-items: center; 
  flex-direction: column; 
  text-align: center; 
  padding: 20px;
}
 
.hover-description h4 {
  color: var(--light-red2);
}

.hover-description p {
  color: black;
}

.hover-description h3 {
  font-size: 1.6rem;
}

.hover-description button {
  background-color:rgb(236, 236, 236); 
  cursor: pointer;
  border: 2.5px solid var(--dark-red2);
}

.hover-description button:hover {
 background-color: var(--dark-red2);
 color: white;
}

#Contact {
  scroll-margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px 0px;
  width: 90vw;
  height: auto;
}

#Contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--context-background);
  border-radius: 10px;
  opacity: 0.97;
  z-index: 1; 
}

#Contact article {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; 
  width: 90%;
  height: auto;
  margin: 50px 30px;
}

#Contact h2::after {
  content: "";
  position: absolute;
  left: 25px; 
  top: 23px;
  width: 152px;
  height: 12px; 
  background-color: var(--light-red1); 
  opacity: 0.3;
}

.contact-text {
  background-color: var(--dark-red3);
  border: 3px solid var(--dark-red2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text span {
  font-weight: 800;
}

.contact-text p {
  color: var(--light-text); 
  height: auto;
  text-align: justify;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-red1);
  border: 3px solid var(--dark-red2);
  border-radius: 20px;
}

form {
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

form::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-red2);
  border-radius: 5px;
  z-index: -1;
  opacity: 0.6;
}

.group-horizontal {
  display: flex;
  align-items: center;
  position: relative;
}

.group-horizontal::before {
  content: "";
  position: absolute;
  top: -2px; 
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
 border: 2px solid gray;
  border-radius: 5px;
  z-index: -1;
  opacity: 0.5;
}

.group-vertical {
  display: flex;
  flex-direction: column;
  position: relative;
}

.group-vertical::before {
  content: "";
  position: absolute;
  top: -2px; 
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
 border: 2px solid gray;
  border-radius: 5px;
  z-index: -1;
  opacity: 0.5;
}

form label {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

label[for="message"] {
  margin-top: 10px;
}

form select {
  height: 30px;
  padding: 5px;
  margin-left: 10px;
}

button[type="submit"] {
  font-weight: 550;
  background-color: var(--light-red2);
  color: var(--light-text);
  border: 3px solid var(--light-red1); 
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out; /*! instead of "all" => "transform" because qe have 2 differents animations */
}

button[type="submit"]:hover {
  animation: shake 0.75s steps(5) 2; /*! Shake animation on hover */
}


/*! Keyframes for the shake animation (X,Y) and scale*/
@keyframes shake {
  0%, 100% {
    transform: translate(0, 0) scale(1.15); 
  }
  25% {
    transform: translate(-5px, -3px) scale(1.15); 
  }
  50% {
    transform: translate(5px, 3px) scale(1.15); 
  }
  75% {
    transform: translate(-5px, 3px) scale(1.15); 
  }
}

footer {
  background-color: #0D0D0D;
  color: var(--light-text);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.footer-content {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
}


.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 100px; 
}

blockquote {
  font-style: italic;
  text-align: center;
  border-left: 4px solid #fff;
}

.copyright p {
  text-align: right;
}

.footer-left p, 
.footer-center p {
  font-weight: 600;
}

.social-media-footer {
  display: flex;
  justify-content: space-between;
}

.footer-center ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.footer-center ul li a {
  color: white; 
  text-decoration: none; 
}

.footer-center ul li a:hover {
    text-decoration: underline; 
    text-underline-offset: 3px;
}


@media screen and (max-width: 320px) {}

@media screen and (min-width: 321px) and (max-width: 376px) {}

@media screen and (min-width: 377px) and (max-width: 426px) {}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* @media screen and (max-width: 535px){

  }
  @media screen and (max-width: 725px) {

  } */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* @media screen and (max-width: 899px) {

  } 
  @media screen and (max-width: 962px) {

  } */
}




@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* @media screen and (max-width: 1150px) {

  } */

  #inicio {
    width: 80%;
    height: auto;
  }
  
  h1 {
    font-size: clamp(3rem, 5.6vw, 6.8rem);
  }
  

  
  .CV {
    margin-top: 40px;
    width: 174px;
    height: 53px;
  }
  
  .CV a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 17px 29px;
  }
  
  nav {
    min-width: 750px;
    width: 65%;
    height: 70px;
    margin: 85px auto 0px auto; 
  }
  
  nav ul {
    width: 90%;
    height: 50px;
  }
  
  nav a {
    font-size: 1.2rem;
    padding: 6px 25px;
  }

    
  h2 {
    color: var(--h2-color); 
    font-size: 2rem;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* TODO crear text underline */
  #About h2::after {
    content: "";
    position: absolute;
    left: 27px; 
    top: 23px;
    width: 165px;
    height: 12px; 
    background-color: var(--light-red1); 
    opacity: 0.3;
  }

  #About article {
    width: 95%;
    height: auto;
    margin: 50px 30px;
  }
  
  .intro {
    width: 95%;
    height: 400px;
    padding: 15px 0px 40px;
    margin-bottom: 25px;
  }
  
  .border-container {
    min-width: 250px;
    min-height: 250px;
    width: 20vw;
    height: 37vh;
  }
  
  
  .photo {
    min-width: 349px;
    width: 30vw;
    max-width: 349px;
    height: auto;
    position: relative;
    top: 15px;
    right: 15px;
  }
  
  .info {
    width: 50%;
    height: 350px;
    position: relative;
    top: 20px; 
  }
  
  .info-text {
    width: 95%;
    height: auto;
  }
  
  .info-text p {
    width: 100%;
    padding: 20px 25px;
    height: auto;
    font-size: 1.1rem;
  }
  
  
  .social-media {
    width: 20%;
    min-width: 110px;
    height: 43px;
  }
  
  .social-media a {
    width: 2.7w;
    height: 7.23vh;
  }
  
  .linkedin {
    width: 2.7vw;
    height: auto;
    min-width: 40px;
  }

  .github {
    width: 2.6vw;
    min-width: 39px;
    height: auto;
    position: relative;
    top: 1px;
  }
  
  /* TODO changing IMAGE by :hover => content: url() */
  .github:hover {
    content: url(/images/icons8-github-64\ \(1\).png);
    width: 2.8vw;
    height: auto;
    position: relative;
    top: -5px;
    left: 5px;
  }
  
  .linkedin:hover {
    content: url(/images/icons8-linkedin-64\ \(1\).png); 
    width: 2.3vw;
    height: auto;
  }
  
@media screen and (max-width: 1177px) {

  .info {
    top: 5px; 
  }

  .info-text p {
    font-size: 1.07rem;
  }


  /* .social-media {
    width: 20%;
    min-width: 110px;
    height: 40px;
  }
  
  .social-media a {
    width: 2.7w;
    height: 15vh;
  }

  .social-media a {
    width: auto;
    height: 2.7vw;
  }
  
  .linkedin {
    width: 2.7vw;
    height: auto;
  }

  .github {
    width: 2.6vw;
    height: auto;
    position: relative;
    top: 1px;
  }
   */
  /* TODO changing IMAGE by :hover => content: url() */
  /* .github:hover {
    content: url(/images/icons8-github-64\ \(1\).png);
    width: 3.3vw;
    height: auto;
    position: relative;
    top: -5px;
    left: 5px;
  }
  
  .linkedin:hover {
    content: url(/images/icons8-linkedin-64\ \(1\).png); 
    width: 2.7vw;
    height: auto;
  } */
}

  #Skills {
    scroll-margin-top: 140px;
    margin: 100px 0px;
    width: 90vw;
    height: auto;
    position: relative;
  }
  
  #Skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--context-background);
    border-radius: 10px;
    opacity: 0.97;
    z-index: 1; 
  }
   
  #Skills h2::after {
    content: "";
    position: absolute;
    left: 22px; 
    top: 23px;
    width: 115px;
    height: 12px; 
    background-color: var(--light-red1); 
    opacity: 0.3;
  }
  
  .cards p {
    font-size: 1.25rem;
  }
  
  .cards h3 {
    font-size: 1.3rem;
  }
    
  .project-nav {
    margin: 40px 0px;
    min-width: 53%; 
    height: auto;
  }
  
  /*TODO border color transparent per no veure el grow quan fas hover, "l'amages per despres veure'l"*/
  .project-nav li {
  font-size: 1.2rem;
  width: 180px;
  height: 35px; 
  transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
  }
  
  
.project-container {
    min-width: 64%;
    height: auto;
    margin: 25px 0px;
    padding: 50px;
  }
  
  /*TODO  IMPORTANT position: relative PER FICAR CONTINGUT A SOBRE DEL MATEIX */
  .project-item {
    width: 270px;
    height: 270px;
    position: relative;
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
  }
  
  /* TODO div class="hover-description" creat per JS */
  .hover-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
  }
   
  
  
  .hover-description h4 {
    font-size: 1.2rem;
  }
  
  .hover-description p {
    font-size: 1.1rem;
  }
  
  .hover-description h3 {
    color: black;
  }
  
  .hover-description button {
    padding: 7px 13px;
    font-size: 0.9rem;
    margin-top: 10px; 
  }
    
  .contact-text {
    margin: 25px 0px 15px 0px;
    width: 70%;
    height: auto;
    border-radius: 10px;
  }
  
  .contact-text span {
    font-weight: 800;
  }
  
  .contact-text p {
    width: 100%;
    padding: 20px 25px;
    height: auto;
    font-size: 1.2rem;
  }
  
  .contact-form {
    width: 45%;
    height: auto;
    padding: 20px 10px;
    margin: 50px 0px;
  }
  
  form {
    width: 90%;
    height: auto;
    padding: 30px;
    margin: 10px 20px;
    gap: 30px;
    position: relative;
    z-index: 2;
  }
  
  form::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-red2);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.6;
  }
  
  .group-horizontal {
    position: relative;
    padding: 3px 0px 3px 5px;
  }
  
  .group-horizontal::before {
    content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border: 2px solid gray;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .group-vertical {
    height: 250px;
    position: relative;
    padding: 3px 0px 3px 5px;
  }
  
  .group-vertical::before {
    content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
   border: 2px solid gray;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.5;
  }
  
  form label {
    font-size: 1.03rem;
    margin-left: 5px;
  }
  
  label[for="message"] {
    margin-top: 10px;
  }
  
  form input {
    width: 290px;
    height: 17px;
    padding: 5px;
    margin-left: 10px;
    font-size: 1rem;
  }
  
  form select {
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
 

  form textarea {
    width: 88%;
    resize: none; 
    height: 500px;
    margin: 20px 0px 0px 10px;
    padding: 20px;
    font-size: 1.05rem;
  }
  
  @media screen and (max-width: 1600px) {
    form textarea {
      width: 85%;
    }
  }

  button[type="submit"] {
    width: 135px;
    height: 45px;
    font-size: 0.95rem;
    font-weight: 550;
    margin: 15px auto;
    padding: 10px;
  }
  
 @media screen and (min-width: 1500px) {
    @keyframes shake {
      0%, 100% {
        transform: translate(0, 0) scale(1.1); 
      }
      25% {
        transform: translate(-5px, -3px) scale(1.1); 
      }
      50% {
        transform: translate(5px, 3px) scale(1.1); 
      }
      75% {
        transform: translate(-5px, 3px) scale(1.1); 
      }
    }
  }
  
  footer {
    width: 100%;
    height: auto;
  }
  
  .footer-content {
   width: 78%; 
   height: auto;
   padding: 30px;
  }
  
  
  .footer-left {
    height: 120px;
    padding: 10px;
  }
  
  .footer-center {
    height: 200px;
    width: auto;
    padding: 10px;
  }
  
  .footer-right {
    height: 120px;
    padding: 10px;
    position: relative;
    top: 100px; 
  }
  
  blockquote {
    border-left: 4px solid #fff;
    padding: 10px; 
  }
  
  .footer-left p, 
  .footer-center p {
    font-size: 1rem;
  }
  
  .social-media-footer {
    width: 63%;
  }
  
  .social-media-footer a {
    width: auto;
    height: 1.8vw;
  }
  
  .linkedin2 {
    width: 1.8vw;
    height: auto;
  }

  .github2 {
    width: 1.7vw;
    height: auto;
    position: relative;
    top: 1.2px;
  }
  
  .linkedin2:hover {
    content: url(/images/icons8-linkedin-64\ \(1\).png);
    width: 1.9vw;
    height: auto;
  }
  
  .github2:hover {
    content: url(/images/icons8-github-64\ \(1\).png);
    width: 2.2vw;
    height: auto;
    position: relative;
    top: -3px;
    left: 3px;
  }
  
  @media screen and (max-width: 1600px) {

    .social-media-footer a {
      width: auto;
      height: 2.1vw;
    }

    .linkedin2 {
      width: 2.1vw;
      height: auto;
    }
  
    .github2 {
      width: 2vw;
      height: auto;
      position: relative;
      top: 1.2px;
    }
    
    .linkedin2:hover {
      width: 2vw;
      height: auto;
    }
    
    .github2:hover {
      width: 2.5vw;
      height: auto;
      position: relative;
      top: -3px;
      left: 3px;
    }
  }
  
  .footer-center ul {
    margin: 15px 0px 0px 2px;
    height: 150px;
    width: 67px;
  }



}








@media screen and (min-width: 1441px) {

  #inicio {
    width: 80%;
    height: auto;
  }
  
  h1 {
    font-size: clamp(3rem, 4.5vw, 6.8rem);
  }
  

  
  .CV {
    margin-top: 50px;
    width: 184px;
    height: 55px;
  }
  
  .CV a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding: 17px 29px;
  }
  
  nav {
    min-width: 65%;
    width: 100%;
    max-width: 65%;
    height: 70px;
    margin: 85px auto 0px auto; 
  }
  
  nav ul {
    width: 90%;
    height: 50px;
  }
   
  nav a {
    font-size: 1.3rem;
    padding: 7px 32px;
  }

  #About article {
    width: 90%;
    height: auto;
    margin: 50px 30px;
  }
    
  h2 {
    color: var(--h2-color); 
    font-size: 2rem;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* TODO crear text underline */
  #About h2::after {
    content: "";
    position: absolute;
    left: 27px; 
    top: 23px;
    width: 165px;
    height: 12px; 
    background-color: var(--light-red1); 
    opacity: 0.3;
  }
  
  .intro {
    width: 95%;
    height: 400px;
    padding: 15px 0px 40px;
    margin-bottom: 25px;
  }
  
  .border-container {
    width: 300px;
    height: 300px;
  }
  
  
  .photo {
    width: 125%;
    height: auto;
    position: relative;
    top: 15px;
    right: 15px;
  }
  
  .info {
    width: 50%;
    height: 310px;
    position: relative;
    top: 15px; 
  }
  
  .info-text {
    width: 90%;
    height: auto;
  }
  
  .info-text p {
    width: 100%;
    padding: 20px 25px;
    height: auto;
    font-size: 1.2rem;
  }
  
  
  .social-media {
    width: 20%;
    max-width: 150px;
    height: 50px;
  }
  
  .social-media a {
    width: 2.6vw;
    max-width: 45px;
    height: 6.6vh;
    max-height: 44px;
  }
  
  .linkedin {
    width: 2.3vw;
    min-width: 42px;
    height: auto;
  }

  .github {
    width: 2.25vw;
    min-width: 40px;
    height: auto;
    position: relative;
    top: 1px;
  }
  
  /* TODO changing IMAGE by :hover => content: url() */
  .github:hover {
    content: url(/images/icons8-github-64\ \(1\).png);
    width: 2.8vw;
    height: auto;
  }
  
  .linkedin:hover {
    content: url(/images/icons8-linkedin-64\ \(1\).png); 
    width: 2.3vw;
    height: auto;
  }
  
@media screen and (max-width: 1600px) {
  .social-media a {
    width: auto;
    height: 2.7vw;
  }
  
  .linkedin {
    width: 2.7vw;
    height: auto;
  }

  .github {
    width: 2.6vw;
    height: auto;
    position: relative;
    top: 1px;
  }
  .github:hover {
    width: 3.1vw;
    height: auto;
    position: relative;
    top: -3px;
    left: -2px;
  }
  
  .linkedin:hover {
    width: 2.7vw;
    height: auto;
  }
}

  #Skills {
    scroll-margin-top: 140px;
    margin: 100px 0px;
    width: 90vw;
    height: auto;
    position: relative;
  }
  
  #Skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--context-background);
    border-radius: 10px;
    opacity: 0.97;
    z-index: 1; 
  }
   
  #Skills h2::after {
    content: "";
    position: absolute;
    left: 22px; 
    top: 23px;
    width: 115px;
    height: 12px; 
    background-color: var(--light-red1); 
    opacity: 0.3;
  }
  
  .cards p {
    font-size: 1.25rem;
  }
  
  .cards h3 {
    font-size: 1.3rem;
  }
    
  .project-nav {
    margin: 40px 0px;
    min-width: 53%; 
    height: auto;
  }
  
  /*TODO border color transparent per no veure el grow quan fas hover, "l'amages per despres veure'l"*/
  .project-nav li {
  font-size: 1.2rem;
  width: 180px;
  height: 35px; 
  transition: background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
  }
  
  
.project-container {
    min-width: 64%;
    height: auto;
    margin: 25px 0px;
    padding: 50px;
  }
  
  /*TODO  IMPORTANT position: relative PER FICAR CONTINGUT A SOBRE DEL MATEIX */
  .project-item {
    width: 270px;
    height: 270px;
    position: relative;
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
  }
  
  /* TODO div class="hover-description" creat per JS */
  .hover-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
  }
   
  
  
  .hover-description h4 {
    font-size: 1.2rem;
  }
  
  .hover-description p {
    font-size: 1.1rem;
  }
  
  .hover-description h3 {
    color: black;
  }
  
  .hover-description button {
    padding: 7px 13px;
    font-size: 0.9rem;
    margin-top: 10px; 
  }
    
  .contact-text {
    margin: 25px 0px 15px 0px;
    width: 70%;
    height: auto;
    border-radius: 10px;
  }
  
  .contact-text span {
    font-weight: 800;
  }
  
  .contact-text p {
    width: 100%;
    padding: 20px 25px;
    height: auto;
    font-size: 1.2rem;
  }
  
  .contact-form {
    width: 45%;
    height: auto;
    padding: 20px 10px;
    margin: 50px 0px;
  }
  
  form {
    width: 90%;
    height: auto;
    padding: 30px;
    margin: 10px 20px;
    gap: 30px;
    position: relative;
    z-index: 2;
  }
  
  form::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-red2);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.6;
  }
  
  .group-horizontal {
    position: relative;
    padding: 3px 0px 3px 5px;
  }
  
  .group-horizontal::before {
    content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border: 2px solid gray;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .group-vertical {
    height: 250px;
    position: relative;
    padding: 3px 0px 3px 5px;
  }
  
  .group-vertical::before {
    content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
   border: 2px solid gray;
    border-radius: 5px;
    z-index: -1;
    opacity: 0.5;
  }
  
  form label {
    font-size: 1.03rem;
    margin-left: 5px;
  }
  
  label[for="message"] {
    margin-top: 10px;
  }
  
  form input {
    width: 290px;
    height: 17px;
    padding: 5px;
    margin-left: 10px;
    font-size: 1rem;
  }
  
  form select {
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
 

  form textarea {
    width: 88%;
    resize: none; 
    height: 500px;
    margin: 20px 0px 0px 10px;
    padding: 20px;
    font-size: 1.05rem;
  }
  
  @media screen and (max-width: 1600px) {
    form textarea {
      width: 85%;
    }
  }

  button[type="submit"] {
    width: 135px;
    height: 45px;
    font-size: 0.95rem;
    font-weight: 550;
    margin: 15px auto;
    padding: 10px;
  }
  
 @media screen and (min-width: 1500px) {
    @keyframes shake {
      0%, 100% {
        transform: translate(0, 0) scale(1.1); 
      }
      25% {
        transform: translate(-5px, -3px) scale(1.1); 
      }
      50% {
        transform: translate(5px, 3px) scale(1.1); 
      }
      75% {
        transform: translate(-5px, 3px) scale(1.1); 
      }
    }
  }
  
  footer {
    width: 100%;
    height: auto;
  }
  
  .footer-content {
   width: 78%; 
   height: auto;
   padding: 30px;
  }
  
  
  .footer-left {
    height: 120px;
    padding: 10px;
  }
  
  .footer-center {
    height: 200px;
    width: auto;
    padding: 10px;
  }
  
  .footer-right {
    height: 120px;
    padding: 10px;
    position: relative;
    top: 100px; 
  }
  
  blockquote {
    border-left: 4px solid #fff;
    padding: 10px; 
  }
  
  .footer-left p, 
  .footer-center p {
    font-size: 1rem;
  }
  
  .social-media-footer {
    width: 63%;
  }
  
  .social-media-footer a {
    width: auto;
    height: 1.8vw;
  }
  
  .linkedin2 {
    width: 1.8vw;
    height: auto;
  }

  .github2 {
    width: 1.7vw;
    height: auto;
    position: relative;
    top: 1.2px;
  }
  
  .linkedin2:hover {
    content: url(/images/icons8-linkedin-64\ \(1\).png);
    width: 1.9vw;
    height: auto;
  }
  
  .github2:hover {
    content: url(/images/icons8-github-64\ \(1\).png);
    width: 2.2vw;
    height: auto;
    position: relative;
    top: -3px;
    left: 3px;
  }
  
  @media screen and (max-width: 1600px) {

    .social-media-footer a {
      width: auto;
      height: 2.1vw;
    }

    .linkedin2 {
      width: 2.1vw;
      height: auto;
    }
  
    .github2 {
      width: 2vw;
      height: auto;
      position: relative;
      top: 1.2px;
    }
    
    .linkedin2:hover {
      width: 2vw;
      height: auto;
    }
    
    .github2:hover {
      width: 2.5vw;
      height: auto;
      position: relative;
      top: -3px;
      left: 3px;
    }
  }
  
  .footer-center ul {
    margin: 15px 0px 0px 2px;
    height: 150px;
    width: 67px;
  }

  @media screen and ( min-width: 2100px ) {
    .CV {
      width: 205px;
      height: 63px;
    }
    
    .CV a {
      font-size: 1.3rem;
    }

    nav {
      width: 60%;
      height: 70px;
    }
    
    nav ul {
      height: 50px;
    }
     
    nav a {
      font-size: 1.5rem;
    }
       
    h2 {
      color: var(--h2-color); 
      font-size: 2.5rem;
    }
    
    /* TODO crear text underline */
    #About h2::after {
      left: 35px; 
      top: 29px;
      width: 207px;
      height: 12px; 
    }
     
    .border-container {
      width: 325px;
      height: 325px;
    }
    
    
    .photo {
      width: 120%;
      height: auto;
    }
    
    .info {
      width: 50%;
      height: 310px;
    }
       
    .info-text p {
      font-size: 1.3rem;
    }

    .social-media a {
      width: auto;
      height: 1.7vw;
    }
    
    .social-media img {
      width: 1.7vw;
      height: auto;
    }
 
    /* TODO changing IMAGE by :hover => content: url() */
    .github:hover {
      content: url(/images/icons8-github-64\ \(1\).png);
      width: 2vw;
      height: auto;
      position: relative;
      bottom: 4px;
      left: 4px; 
    }
    
    .linkedin:hover {
      content: url(/images/icons8-linkedin-64\ \(1\).png); 
      width: 1.7vw;
      height: auto;
    }
        
    #Skills h2::after {
      left: 28px; 
      top: 30px;
      width: 140px;
      height: 12px; 
    }
    
    .cards p {
      font-size: 1.35rem;
    }
    
    .cards h3 {
      font-size: 1.4rem;
    }
    
    #Projects h2::after {
      left: 30px; 
      top: 31px;
      width: 205px;
      height: 12px; 
    }
    
    .project-nav {
      margin: 40px 0px;
      min-width: 45%; 
      max-width: 40%;
      width: 100%;
      height: auto;
    }

    /*TODO border color transparent per no veure el grow quan fas hover, "l'amages per despres veure'l"*/
    .project-nav li {
    font-size: 1.3rem;
    width: 200px;
    height: 35px; 
    }
    
    
  .project-container {
      min-width: 50%;
      height: auto;
    }
                 
    #Contact h2::after {
      left: 34px; 
      top: 30px;
      width: 190px;
      height: 12px; 
    }
       
    .contact-text p {
      font-size: 1.3rem;
    }
       
    form {
      width: 90%;
      height: auto;
      padding: 30px;
      margin: 10px 20px;
      gap: 30px;
      position: relative;
      z-index: 2;
    }
    
    form::before {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dark-red2);
      border-radius: 5px;
      z-index: -1;
      opacity: 0.6;
    }
    
    .group-horizontal {
      position: relative;
      padding: 3px 0px 3px 5px;
    }
    
    .group-horizontal::before {
      content: "";
      position: absolute;
      top: -2px; 
      left: -2px;
      width: 100%;
      height: 100%;
      background-color: lightgrey;
      border: 2px solid gray;
      border-radius: 5px;
      z-index: -1;
      opacity: 0.5;
    }
    
    .group-vertical {
      height: 250px;
      position: relative;
      padding: 3px 0px 3px 5px;
    }
    
    .group-vertical::before {
      content: "";
      position: absolute;
      top: -2px; 
      left: -2px;
      width: 100%;
      height: 100%;
      background-color: lightgrey;
     border: 2px solid gray;
      border-radius: 5px;
      z-index: -1;
      opacity: 0.5;
    }
    
    form label {
      font-size: 1.2rem;
    }
     
    form input {
      width: 270px;
      height: 17px;
      padding: 5px;
      font-size: 1rem;
    }
    
    form select {
      height: 30px;
      padding: 5px;
      margin-left: 10px;
      font-size: 1rem;
    }
    
    form textarea {
      width: 100%; 
      max-width: 90%;
      font-size: 1rem;
    }
    
    button[type="submit"] {
      width: 150px;
      height: 50px;
      font-size: 1.1rem;
    }
         
    .footer-content {
     width: 75%; 
     height: auto;
     padding: 30px;
    }
    
    
    .footer-left {
      height: 120px;
      padding: 10px;
    }
    
    .footer-center {
      height: 200px;
      padding: 10px;
    }
    
    .footer-right {
      height: 120px;
      padding: 10px;
      position: relative;
      top: 100px; 
    }
    
    blockquote {
      border-left: 4px solid #fff;
      padding: 10px; 
      font-size: 1.1rem;
    }
    
    .footer-left p, 
    .footer-center p {
      font-size: 1.1rem;
    }
    
    .social-media-footer {
      width: 70%;
    }
    
    .social-media-footer a {
      width: auto;
      height: 1.2vw;
    }
    
    .social-media-footer img {
      width: 1.2vw;
      height: auto;
    }
    
    .linkedin2:hover {
      content: url(/images/icons8-linkedin-64\ \(1\).png);
      width: 1.2vw;
      height: auto;
    }
    
    .github2:hover {
      content: url(/images/icons8-github-64\ \(1\).png);
      width: 1.5vw;
      height: auto;
      position: relative;
      bottom: 3px;
      left: 3.5px;
    }
    
    
    .footer-center ul {
      margin: 15px 0px 0px 2px;
      height: 150px;
      width: 75px;
    }

    .footer-center a {
      font-size: 1.05rem;
    }
  }
  
}